.product-section {
  position: relative;
  padding-top: 178px;
  padding-bottom: 104px;
  padding-left: 65px;
  padding-right: 65px;
  @include bp(md) {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 195px;
  }
  @include bp(xs) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 151px;
    padding-bottom: 82px;
  }

  & picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    z-index: -1;
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      transition: all ease-in-out 0.5s;

      @media (max-width: 1280px) {
        object-position: -133px top;
      }
      @media (max-width: 936px) {
        object-position: -356px top;
      }
      @include bp(sm) {
        object-position: -180px top;
        }
      @media (max-width: 560px) {
        object-position: -335px top;
        }
      @media (max-width: 360px) {
        object-position: -400px top;
      }
    }
  }
}

.product-title {
  max-width: 1014px;
  margin-bottom: 57px;
  @include bp(xs) {
    margin-bottom: 32px;
  }

  & small {
    display: block;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(#FFFFFF, 0.4);
    @media (max-width: 1440px) {
      font-size: 14px;
      line-height: 17px;
      transition: all ease-in-out 0.5s;
    }
    @include bp(md) {
      font-size: 16px;
      line-height: 19px;
      color: rgba(#000, 0.4);
    }
    @include bp(xs) {
      margin-bottom: 13px;
    }
  }

  & span {
    font-family: $title;
    font-weight: 700;
    font-size: 76px;
    line-height: 91px;
    color: #000000;
    transition: all ease-in-out 0.2s;
    @media (max-width: 1440px) {
      font-size: 56px;
      line-height: 67px;
    }
    @include bp(sm) {
      font-size: 40px;
      line-height: 48px;
    }
  }
}

.product-text {
  padding-left: 30px;
  border-left: 1px solid #000000;
  transition: all ease-in-out 0.2s;
  @media (max-width: 936px) {
    margin-bottom: 233px;
  }
  @include bp(sm) {
    padding-left: 0;
    border-left: none;
    margin-bottom: 46px;
  }
}

.product-text__inner {
  max-width: 510px;
  @include bp(md) {
    max-width: 621px;
  }

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    transition: all ease-in-out 0.5s;
    @media (max-width: 1440px) {
      font-size: 16px;
    }
    @include bp(md) {
      font-size: 20px;
    }
    @include bp(xs) {
      font-size: 16px;
    }

    & + p {
      margin-top: 16px;
      @include bp(xs) {
        margin-top: 14px;
      }
    }
  }
}

.product-cycles {
  display: flex;
  justify-content: end;
  min-height: 605px;
  transition: all ease-in-out 0.5s;
  @include bp(lg) {
    margin-left: -129px;
  }
  @media (max-width: 1150px) {
    margin-left: -240px;
    min-height: 655px;
  }
  @include bp(md) {
    margin-left: -172px;
    margin-bottom: 91px;
    transform: scale(1);
  }
  @media (max-width: 936px) {
    margin-left: 0;
    visibility: visible;
    transform: scale(1);
    transition: transform ease-in-out 0.6s, visibility 0.6s, min-height ease-in-out 0.6s, position ease-in-out 0.2s 0.6s;
    position: static;
  }
  @include bp(sm) {
    visibility: hidden;
    transform: scale(0);
    transition: transform ease-in-out 0.6s, visibility 0.6s, min-height ease-in-out 0.6s, position ease-in-out 0.2s 0.6s;
    min-height: unset;
    position: absolute;
  }
}

.product-cycles-list {
  position: relative;
  flex-grow: 1;
  max-width: 1163px;
}

.product-cycles__item {
  position: absolute;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: #fff;
    transform: scale(1.05);
    transition: all ease-in-out 0.2s;
    z-index: 100;

    & span {
      color: #000;
    }

    & > div {
      background-color: #fff;
    }

    & > i {
      opacity: 1;
      z-index: -1;
    }

  }

  & > i {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -10;
    transform: translate(-50%, -50%);
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border-radius: 50%;
    background: #379E8D;
    opacity: 0;
    filter: blur(40px);
    transition: all ease-in-out 0.2s;
  }

  & > div {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 4.81139px solid $action;
    transition: all ease-in-out 0.2s;

    &:before {
      content: "";
      position: absolute;
      width: calc(100% - 38px);
      height: calc(100% - 38px);
      border-radius: 50%;
      border: 4.81139px solid $brand;
    }

    & span {
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
      @include bp(md) {
        font-size: 22px;
        line-height: 31px;
      }
    }
  }


  &:nth-child(1),
  &:nth-child(4) {
    & div {
      width: 296px;
      height: 296px;
    }

    & span {
      width: 168px;
      transition: all ease-in-out 0.2s;
      @include bp(md) {
        width: 181px;
      }
    }
  }

  &:nth-child(2),
  &:nth-child(3) {
    & div {
      width: 265px;
      height: 265px;
    }

    & span {
      width: 137px;
      @include bp(md) {
        width: 151px;
      }
    }
  }

  &:nth-child(5) {
    & div {
      width: 350px;
      height: 350px;
    }

    & span {
      width: 222px;
    }
  }

  &:nth-child(1) {
    top: 44px;
    left: 183px;
    @media (max-width: 936px) {
      top: 0;
      left: 0;
    }

  }

  &:nth-child(2) {
    top: -54px;
    left: 759px;
    @media (max-width: 936px) {
      left: unset;
      top: -154px;
      right: 39px;
    }
  }

  &:nth-child(3) {
    top: 377px;
    left: 251px;
    @media (max-width: 936px) {
      top: 401px;
      left: 86px;
    }

    & span {
      @include bp(md) {
        font-size: 24px;
      }
    }
  }

  &:nth-child(4) {
    top: 321px;
    left: 771px;
    @media (max-width: 936px) {
      top: unset;
      bottom: -91px;
      left: unset;
      right: 12px;
    }

    & span {
      @include bp(md) {
        font-size: 24px;
      }
    }
  }

  &:nth-child(5) {
    top: 140px;
    left: 454px;
    @media (max-width: 936px) {
      top: 99px;
      left: 306px;
    }
  }
}


.product-bottom {
  padding-left: 30px;
  border-left: 1px solid #fff;
  transition: all ease-in-out 0.2s;
  @include bp(xxs) {
    padding-left: 15px;
    }
}

.product-bottom__logo {
  margin-bottom: 24px;
}

.product-bottom__elements {
  display: flex;

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  & span:not(:last-child) {
    position: relative;
    padding-right: 20px;

    &:after {
      content: "";
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}

.product-rectangles {
  display: none;
  @include bp(sm) {
    display: block;
  }
  margin-bottom: 48px;
}

.product-rectangles__item {
  padding: 16px 20px;
  border-radius: 12px;
  background: rgba(0, 147, 175, 0.8);

  & + .product-rectangles__item {
    margin-top: 8px;
  }

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
  }
}





