.advantages-section {
  padding-top: 255px;
  padding-bottom: 80px;
  background-color: $bg;
  @include bp(md) {
    padding-bottom: 0px;
    }

  @include bp(sm) {
    padding-top: 81px;
    padding-bottom: 168px;
  }
  @media (max-width: 530px) {
    padding-bottom: 80px;
    }
}

.advantages-section__wrapper {
  padding-left: 65px;
  padding-right: 65px;
  transition: all ease-in-out 0.2s;
  @include bp(lg) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @include bp(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.advantages-title {
  position: relative;
  display: block;
  max-width: 690px;
  margin-bottom: 64px;
  font-family: $title;
  font-weight: 700;
  font-size: 76px;
  line-height: 91px;
  color: #000000;
  z-index: 1;
  @media (max-width: 1440px) {
    font-size: 56px;
    line-height: 67px;
  }
  @include bp(sm) {
    margin-bottom: 47px;
    font-size: 40px;
    line-height: 48px;
  }
}

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 158px;
  @media (max-width: 1440px) {
    padding-bottom: 96px;
  }
  @include bp(sm) {
  padding-bottom: 43px;
}
}

// ======== advantages-left ========

.advantages-left {
  display: flex;
  align-items: end;
  width: calc(100% - 896px);
  @media (max-width: 1640px) {
    width: calc(100% - 411px);
  }
  @include bp(sm) {
    display: none;
  }
}

.advantages-logo {
  border-left: 1px solid #000;
  padding-left: 30px;
}

.advantages-logo__img {
  margin-bottom: 27px;
}

.advantages-logo__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #379E8D;
}

/// ======== advantages-right ========

.advantages-right {
  position: relative;
  max-width: 896px;
  @include bp(md) {
    max-width: 50%;
  }
  @include bp(sm) {
    width: 100%;
    max-width: 100%;
  }
}

.advantages-leaf {
  position: absolute;
  top: 46px;
  right: calc(100% - 93px);
  z-index: 0;
  transition: all ease-in-out 0.2s;
  @include bp(sm) {
    top: -93px;
    right: -18px;
    }
  &.animated {
    & picture {
      transition: all ease-in-out 0.2s;
      transform: rotate(180deg);
    }

  }

  & img {
    display: block;
    max-width: 530px;
    height: auto;
    @include bp(sm) {
      max-width: 363px;
      }
  }
}

.advantages-list__item {
  @include bp(sm) {
    width: 100%;
  }
}

.advantages-list__body {

  @media (min-width: 768px) {
    display: block !important;
  }
}

.advantages-list__item {
  &:last-child {
    .advantages-list__head {
      & span {
        border-bottom: 1px solid transparent;
      }

      &.active {
        & span {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.advantages-list__item:not(:last-child) {
  & .advantages-list__body {
    margin-bottom: 48px;
    @media (max-width: 1440px) {
      margin-bottom: 43px;
    }
    @include bp(sm) {
      margin-bottom: 20px;
    }
  }
}

.advantages-list__head {
  position: relative;
  pointer-events: none;
  @include bp(sm) {
    pointer-events: auto;
  }

  &.active {
    & i {

      & svg:first-child {
        opacity: 0;
      }

      & svg:last-child {
        opacity: 1;
      }
    }
  }

  & span {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-right: 40px;
    transition: all ease-in-out 0.2s;
    @media (min-width: 992px) and (max-width: 1500px) {
      font-size: 24px;
      line-height: 29px;

    }
    @include bp(sm) {
      padding-right: 46px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 20px;
      line-height: 24px;
    }
  }

  & i {
    position: absolute;
    right: 16px;
    top: 17px;
    transform: scale(0);
    transition: all ease-in-out 0.2s;
    @include bp(sm) {
      transform: scale(1);
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all ease-in-out 0.2s;
    }

    & svg:first-child {
      opacity: 1;
      top: calc(50% + 0px);
    }

    & svg:last-child {
      opacity: 0;
    }
  }
}


.advantages-list__body {
  border-left: 1px solid #000;
  padding-left: 30px;
  @include bp(sm) {
    border-left: none;
    padding-left: 0;
    display: none;
  }

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    transition: all ease-in-out 0.2s;
    @media (min-width: 992px) and (max-width: 1500px) {
      font-size: 16px;
      line-height: 140%;
    }

    & + p {
      margin-top: 12px;
    }
  }

  & span {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
  }
}

.advantages-line {
  max-height: 249px;
  margin: 0 auto;
  margin-bottom: 100px;
  overflow: hidden;
  @media (max-width: 1440px) {
    margin-bottom: 78px;
    height: 200px;
  }
  @include bp(md) {
    height: 249px;
  }
  @include bp(sm) {
    margin-bottom: 80px;
    height: 162px;
  }


  & svg {
    width: 100%;
    margin: 0 auto;
    height: auto;
    transition: all ease-in-out 0.3s;
    @media (max-width: 1920px) {
      width: auto;
      }
    @media (max-width: 1440px) {
      margin-bottom: 78px;
      height: 200px;
    }
    @include bp(md) {
      height: 249px;
    }
    @include bp(sm) {
      margin-bottom: 80px;
      height: 162px;
    }
  }
}

.advantages-seo {
  max-width: 865px;
}

.seo-text {
  position: relative;
  height: 126px;
  overflow: hidden;
  @include bp(xs) {
    height: 248px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 53px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(243, 244, 237, 0) 0%, rgba(243, 244, 237, 0.786458) 43.43%, #F3F4ED 100%);
    z-index: 1;
  }

  & h1, h2 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(#000000, 0.4);
  }

  & p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(#000000, 0.4);
  }

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(#000000, 0.4);
  }

  & > p {
    margin-top: 20px;
  }
}

.advantages-seo-more {
  margin-top: 32px;
}

.more-btn {
  align-items: center;
  gap: 12px;
  cursor: pointer;

  &:hover span {
    color: $action;
  }

  &.show-text {
    display: flex;
  }

  &.hide-text {
    display: none;
  }

  & span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: all ease-in-out 0.2s;

    &:hover {
      color: $action;
    }
  }

  & i {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
    }
  }
}

.advantages-seo {
  &.active {
    & .seo-text {
      height: unset;

      &:before {
        display: none;
      }
    }

    & .more-btn {
      &.show-text {
        display: none;
      }

      &.hide-text {

        display: flex;
      }
    }
  }
}





