@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Regular.eot");
  src: url("../fonts/Urbanist-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Urbanist-Regular.woff") format("woff"), url("../fonts/Urbanist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Medium.eot");
  src: url("../fonts/Urbanist-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Urbanist-Medium.woff") format("woff"), url("../fonts/Urbanist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-SemiBold.eot");
  src: url("../fonts/Urbanist-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Urbanist-SemiBold.woff") format("woff"), url("../fonts/Urbanist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Bold.eot");
  src: url("../fonts/Urbanist-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Urbanist-Bold.woff") format("woff"), url("../fonts/Urbanist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/KyivTypeSans-Bold.eot");
  src: url("../fonts/KyivTypeSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/KyivTypeSans-Bold.woff") format("woff"), url("../fonts/KyivTypeSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Intel";
  src: url("../fonts/Intel-Regular.eot");
  src: url("../fonts/Intel-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Intel-Regular.woff") format("woff"), url("../fonts/Intel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



