.mfp-bg {
  background: $bg;
  z-index: 10005;
  opacity: 1;
}

.mfp-wrap {
  z-index: 10006;
}

.mfp-container {
  position: fixed;
  @media (max-width: 900px) {
    padding: 0;

  }
}

.popup {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  width: 1440px;
  max-width: calc(100vw - 30px);
  height: 100vh;
  max-height: calc(100vw - 30px);

  .mfp-close {
    top: 50px;
    right: 30px;
    opacity: 1;
    width: 37px;
    height: 37px;
    @include bp(sm) {
      top: 0;
    }

    @include bp(xs) {
      right: 5px;
      top: 5px;
      width: 26px;
      height: 26px;
    }
    @media (max-width: 570px) {
      top: -50px;
    }
    @media (max-width: 480px) {
      top: -100px;
      }
    @media (max-width: 360px) {
      top: -150px;
    }

    svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &:hover {
      svg {
        path {
          // fill: $light;
        }
      }
    }
  }
}

.swal2-container.swal2-shown {
  background: transparent;
  z-index: 10037;
}

.swal2-icon.swal2-success.swal2-animate-success-icon {
  opacity: 0 !important;
}


.swal2-close {
  color: transparent !important;
  display: block !important;
  background-image: url("../images/close.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  transition: all ease-in-out 0.2s;
  opacity: 1;
  width: 69px !important;
  height: 79px !important;

  &:hover {
    opacity: 0.7;
  }
}

.swal2-modal {
  width: 466px !important;
  height: 298px;
  background: $bg !important;
  border-radius: 12px !important;
  max-width: calc(100vw - 30px);
  color: #fff;
  box-shadow: 0 0 40px rgba(#379E8D, 0.8);
  background-image: url("../images/success.svg") !important;
  background-position: top 47px center !important;
  background-repeat: no-repeat !important;

  .swal2-icon {
    //display: none !important;
    padding-bottom: 0;
  }

  .swal2-title {
    margin-bottom: 17px;
    font-family: $default;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: block;
    text-align: center;
    color: #000;

    @include bp(xs) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 28px;
    }
  }

  .swal2-content {
    font-family: $default;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000;
  }

  .swal2-buttonswrapper {
    margin-top: 45px;
    @include bp(xs) {
      margin-top: 25px;
    }
  }

  .swal2-buttonswrapper {
    display: none !important;
  }

  .swal2-styled {
    margin: 0 auto;
    width: 220px;
    height: 50px;
    font-family: $default;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    border: 1px solid;
    border-color: #fff !important;
    background-color: transparent !important;
    border-radius: 30px;
    outline: none !important;
    box-shadow: none !important;
    @include bp(xs) {
      height: 40px;
      width: 174px;
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      // color: $blue;
      background-color: #fff !important;
    }
  }
}
