// Переменные для приложения и всех модулей

//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$black: #000000;
$white: #ffffff;
$bg: #F3F4ED;
$action: #00A693;
$brand: #0093AF;
$gradient: linear-gradient(89.98deg, #00A693 0%, #0093AF 100%);

$default: "Urbanist";
$title: "KyivTypeSans";
$intel: "Intel";

