<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <span>Saproinvest B.V. All Rights Reserved.</span>
            <span>Website Development: ProArea Digital Agency</span>
        </div>
    </div>
</footer>
<div class="mfp-hide">
    <div class="popup" id="get-popup">
        <button title="Close (Esc)" type="button" class="mfp-close">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.6">
                    <path d="M4 8L28 24" stroke="black" stroke-width="3"/>
                    <path d="M28.0452 8.06815L3.95485 23.9318" stroke="black" stroke-width="3"/>
                </g>
            </svg>
        </button>

        <form class="consult-form ajax_form clear-styles" data-error-title="Send error!"
              data-error-message="Try again after a while." data-success-title="Thank you for contacting us!"
              data-success-message="We have recived your message. We’ll reach you out immediately!">

            <div class="input-wrapper">
                <label  for="name">Name</label>
                <input id="name" class="input q" type="text" name="name"
                data-title="Name"
                       data-validate-required="Please enter your name" autofocus>
            </div>

            <div class="input-wrapper">
                <label for="phone">Phone</label>
                <input id="phone" class="input" type="tel" name="phone" data-title="Phone"
                       data-validate-required="Please enter your phone number">
            </div>

            <div class="input-wrapper">
                <label for="e-mail">E-mail</label>
                <input id="e-mail" class="input" type="text" name="email" data-title="Email"
                       data-validate-required="Please enter your email" data-validate-email="Please enter your email">
            </div>
            <div class="input-wrapper input-wrapper-textarea">
                <label for="request">Text of you request</label>
                    <textarea rows="4" id="request" class="textarea" name="comment" data-title="Message"></textarea>
<!--                data-validate-required="Please enter your message"-->
            </div>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
