<header class="header">
    <div class="container">
        <a href="#main" class="header-logo">
            <img src="../../images/logo.svg" alt="logo">
            <img class="logo-white" src="../../images/logo-white.svg" alt="logo">
        </a>
        <div class="header-right">
            <ul class="header-menu">

                <li><a href="#about">About product</a></li>
                <li><a href="#advantages">Advantages</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
            <div class="header-lang">
                <div class="header-lang__current">
                    <span>En
                        <i>
                           <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.6"
                                  d="M1.175 0.150391L5 3.97539L8.825 0.150391L10 1.33372L5 6.33372L0 1.33372L1.175 0.150391Z"
                                  fill="black"/>
                            </svg>
                    </i>
                    </span>
                </div>
                <div class="header-lang__inner">
                    <div>
                        <span>
                            <i>
                                <svg width="16" height="12" viewBox="0 0 16 12" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                     <path opacity="0.6"
                                           d="M15.4998 1.8332L5.49984 11.8332L0.916504 7.24987L2.0915 6.07487L5.49984 9.47487L14.3248 0.658203L15.4998 1.8332Z"
                                           fill="black"/>
                                </svg>
                            </i>
                            En
                        </span>
                    </div>
                    <div>
                        <a href="/">
                            <span></span>
                            Nl
                        </a>
                    </div>
                </div>
            </div>
            <span class="header-btn popup-btn" data-mfp-src="#get-popup">Get in touch</span>
            <div class="mobile-menu__btn">
                <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0H30V3.33333H0V0ZM0 8.33333H30V11.6667H0V8.33333ZM0 16.6667H30V20H0V16.6667Z"
                          fill="black"/>
                </svg>
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 10L35 30" stroke="black" stroke-width="3"/>
                    <path d="M35.0566 10.0852L4.94375 29.9148" stroke="black" stroke-width="3"/>
                </svg>
            </div>
        </div>
    </div>
</header>

<div class="mobile-menu__wrapper">
    <ul class="mobile-menu">
        <li><a href="#about">About product</a></li>
        <li><a href="#advantages">Advantages</a></li>
        <li><a href="#contacts">Contacts</a></li>
    </ul>
    <div class="mobile-menu__links">
        <a href="javascript:void(0)" class="popup-btn" data-mfp-src="#get-popup">Send a request</a>
        <a href="javascript:void(0)" target="_blank">See our presentation</a>
    </div>
    <div class="mobile-menu__bot">
        <div class="mobile-menu__lang">

            <div class="current">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 6.99997L9 19L3.5 13.5L4.91 12.09L9 16.17L19.59 5.58997L21 6.99997Z" fill="black"/>
                </svg>
                <span>English</span>
            </div>
            <a href="javascript:void(0)">Netherlandish</a>
        </div>
    </div>
</div>
